<p id="notice"><%= notice %></p>

<div data-behavior='todo-list'>
  
  <h1>Listing Todos</h1>
    <% @todos.each do |todo| %>
    <div data-behavior="todo" data-id="<%= todo.id %>">
      <p data-behavior="todo-description">
        <% if todo.completed? %>
          <s><%= todo.description %></s>
        <% else %>
          <%= todo.description %>
        <% end %>
      </p>
     
      <%= button_tag :complete, data: {behavior: 'todo-toggle'} %>    
    
    </div>
    <% end %>
</div>

<%= link_to("Delete Completed Todos", "#") %>

<br>

<%= link_to 'New Todo', new_todo_path %>